@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Humane';
  font-weight: 100 900;
  font-style: normal;
  src: url('assets/fonts/Humane.ttf') format('truetype');
}

@font-face {
  font-family: 'Murmure';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Murmure.ttf') format('truetype');
}

@font-face {
  font-family: 'TimmonsNY';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Timmons-NY.woff2') format('woff2'),
       url('assets/fonts/Timmons-NY.woff') format('woff');
}

@layer base {
  /* LAYOUT */
  .page-container {
		@apply relative min-w-[100vw] min-h-screen flex justify-center items-center p-4 sm:p-6 border-r border-neutral-300
	}
  /* TYPOGRAPHY */
  .heading-base {
    @apply text-black pointer-events-none select-none text-balance max-w-3xl font-serif leading-none font-medium
  }
  .body {
    @apply prose max-w-3xl prose-headings:text-neutral-200 prose-strong:text-neutral-200 prose-a:text-accent prose-headings:font-serif prose-p:mt-0 prose-headings:uppercase pointer-events-none select-none text-clamp-3xl text-black
  }
  .micro {
    @apply text-black text-lg font-semibold font-micro pointer-events-none select-none
  }
  .text-input {
    @apply shadow-sm block w-full border border-neutral-200 rounded-md p-3 caret-accent focus:outline-accent my-2
  }
  .form-label {
    @apply body-base
  }
  .action-link {
		@apply underline text-accent hover:brightness-90 transition-all cursor-pointer
	}
}

@layer components {  
  .btn {
    @apply bg-accent hover:brightness-90 disabled:hover:bg-accent disabled:hover:cursor-not-allowed text-white inline-flex items-center justify-center rounded px-4 sm:px-6 py-2 uppercase font-semibold min-w-[180px] transition-all cursor-pointer
  }
  .card {
    @apply w-full border border-gray-100 p-4 lg:p-6 mb-3 lg:mb-4 shadow rounded-2xl bg-white
  }
  .underline-hover {
    @apply block ml-auto max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-accent
  }
  .underline-hover-large {
    @apply block mx-auto max-w-0 group-hover:max-w-full transition-all duration-500 h-1 bg-accent
  }
}

@layer utilities {
  .fade-in {
    @apply opacity-0 translate-y-[50px]
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: theme(colors.black);
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.gray.200);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primary);
}

.lil-gui { 
	z-index: 5000 !important;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
